/.vs
/.idea

ItemsStoreWebAPI.sln.DotSettings.user

/ItemsStoreWebAPI/bin
/ItemsStoreWebAPI/obj

/ItemsStoreWebAPITests/bin
/ItemsStoreWebAPITests/obj

/BenchmarkItemsStore/bin
/BenchmarkItemsStore/obj